doctype html
-var title="VIASOカードのETCカード申込みメリットである還元率アップを試す技"
-var number="396"
-var frontnumber=number-1
-var nextnumber=number+1
-var description="クレジットカードの中でもニコスというクレジットカード会社から発行されているVIASOカードはポイント率も高く、さらにETCカードを使うことによって受けられる恩恵が大きいクレジットカードでもあるので、VIASOカードについてさらに詳しくチェックしていきましょう。"
-var keywords="nicos,viaso,ETC,還元率"

html(lang="ja")


  head
    meta(http-equiv="Content-Type" content="text/html; charset=Shift-JIS")
    meta(http-equiv="Content-Script-Type" content="text/javascript")
    meta(http-equiv="Content-Style-Type" content="text/css")
    meta(property="fb:admins" content="100004671073773")
    meta(name="description" content=description)
    meta(name="keywords" content=keywords+",作り方,おすすめ,検索,比較")
    title #{title} | クレジットカード研究Lab
    link(rel="stylesheet" type="text/css" href="/css/common.css")
    link(rel="shortcut icon" href="/images/favicon.ico")
    link(rel="alternate" media="only screen and (max-width: 640px)" href="http://card-lab.com/sp/column/article/article"+number+".html")
    script(type="text/javascript" src="/js/common.js")

  body#pageTop
      //#include virtual="/header.html"
      div.pan
        ul
          li(itemscope="itemscope" itemtype="http://data-vocabulary.org/Breadcrumb")
            a(href="http://card-lab.com/" itemprop="url")
              span(itemprop="title") HOME
          li(itemscope="itemscope" itemtype="http://data-vocabulary.org/Breadcrumb") &nbsp;&gt;&nbsp;#{title}

      div#column
        div#mainArea
          h1.ttA.u_space_10(style="font-size:15px;") #{title}
          div.discriptionA.u_space_20
            p.desc_nb クレジットカードには各社からさまざまな商品がラインアップされており、どうせ利用するのであればクレジットカードを生活の中でしっかりと活用していきたいものです。


            p.desc_nb クレジットカードの中でもニコスというクレジットカード会社から発行されているVIASOカードはポイント率も高く、さらにETCカードを使うことによって受けられる恩恵が大きいクレジットカードでもあるので、VIASOカードについてさらに詳しくチェックしていきましょう。

          h2.stA VIASOカードについて
          div.discriptionA.u_space_20 <br />
            div(align="center")
              a(href="/link/nicos/viaso.html" target="_blank")
               img(src="/images/nicos_viaso.gif" style="max-width:600px;")

            h4.sst 年会費
            p.desc_nb 無料


            h4.sst 申し込み資格


            p.desc_nb 原則として18才以上（高校生不可）で電話連絡可能な方。<br />
                      |※未成年の方は親権者の同意が必要です。


            h4.sst 家族会員
            p.desc_nb 年会費無料


            h4.sst ETCカード
            p.desc_nb ETCカード新規発行手数料１，０００円（税別）


            h4.sst ポイント
            p.desc_nb １，０００円につき５ポイント


            h4.sst ポイント還元方法
            p.desc_nb 指定の口座に自動で１ポイント→１円として現金キャッシュバックされます。<br />
                      |※ただし１，０００円未満の金額についてはキャッシュバックされないので注意してください。


            h4.sst 海外旅行保険
            p.desc_nb ＶＩＡＳＯカードを持っているだけで、海外旅行中の万が一の事故や脂肪について最高２，０００万円が補償されます。


            h3.sst_tokutyou VIASOカードの特徴


            h4.sst VIASOeショップ
            p.desc_nb ネットショッピングサイトであるＶＩＡＳＯｅショップを経由して買い物をすると最大で１０％のポイントが貯まります。

            h4.sst ショッピングパートナー保険サービス
            p.desc_nb ＶＩＡＳＯカードを利用して買い物をした商品が９０日以内に破損、盗難などにより被害を受けた場合に年間限度額１００万円が補償されます。


            p.desc_nb 年会費無料のクレジットカードで、海外旅行保険も自動付帯しており、自動で年間のポイントが現金でキャッシュバックされるなど魅力たっぷりのＶＩＡＳＯカードですが、さらにＶＩＡＳＯカードを持つことでお得に買い物が出来る方法があります。

          h2.stA ETCカードを利用することでメリットがある
          div.discriptionA.u_space_20
            p.desc_nb クレジットカードの中には、ＥＴＣカードの利用金額や携帯電話料金、インターネットのプロバイダー料金についてはポイント付与の対象外になってしまうものも多く、思ったようにクレジットカードのポイントが貯まらないというものも少なくはありません。


            h4.sst ＶＩＡＳＯカードのＥＴＣカード
            p.desc_nb ＶＩＡＳＯでは高速道路に乗るときにキャッシュレスでお金を支払わずにゲートを通ることができるＥＴＣカードも発行しています。ETCカード新規発行手数料１，０００円＋税がかかるものの、一度発行してしまえばその後に年会費などは発生しないので、車を利用する方でこと高速道路に乗る機会がある方には便利なサービスですし、ＥＴＣカードの決済金額についてもポイントの付与対象になるため、ポイントが貯まりやすくなっています。


            h4.sst 携帯電話料金
            p.desc_nb 今や携帯電話を持たずに生活している人は少なく、ｄｏｃｏｍｏ、ａｕ、Ｓｏｆｔｂａｎｋなどと契約して携帯電話を持って生活している人がほとんどです。これらの携帯電話、またはＰＨＳなどの機種の支払代金についても、クレジットカード決済にしておけばポイント対象となるので、クレジットカードのポイントをお得に貯められます。


            h4.sst プロバイダー料金
            p.desc_nb 今やインターネットで情報を収集したり、気になる情報をチェックするのに欠かせないのがインターネットです。インターネットはインターネットという会社を介して繋がるものではなく、Yahoo! BB、@nifty、OCN、au one net、BIGLOBE、ODNなどのプロバイダーという場所と契約することによって利用することができるツールです。ＶＩＳＡＯカードであればプロバイダー料金についてもポイントが付与されるので、プロバイダー料金を支払う際にもポイントが付与される仕組みになっています。

            h4.sst さらに嬉しいサービス！
            p.desc_nb 実はＥＴＣカード、携帯電話やＰＨＳ、プロバイダー料金をＶＩＡＳＯカードで購入すると、決済代金に対してもポイントが付与されるだけでなく、なんと２倍のポイントが獲得できるのです。とくに携帯電話などは私生活においてどうしても必要になる商品だからこそ、ポイントが２倍受け取れるというのはポイントをしっかり貯めてキャッシュバックに充てるために必要な手段だと言えます。

            h4.sst 月のポイント付与の例<br /><br />

            h4.sst3 一般的なクレジットカードの例
            table.normalTable(align="center" width="600px")
              colgroup
                col(width='150')
                col(width='150')
                col(width='150')
                col(width='150')
              tr
                th
                th 代金
                th ポイント率
                th
              tr
                th 買い物の代金
                td １０，０００円
                td ０．５％
                td ５０ポイント
              tr
                th ETCカード利用
                td ４，０００円
                td ０．５％
                td ２０ポイント
              tr
                th 携帯電話料金
                td １０，０００円
                td ０．５％
                td ５０ポイント
              tr
                th プロバイダー料金
                td ５，０００円
                td ０．５％
                td ２５ポイント
              tr
                th 合計代金
                td ２９，００００円
                td ポイント合計
                td １４５ポイント

            <br /><br />
            h4.sst3 ＶＩＡＳＯカード
            table.normalTable(align="center" width="600px")
              colgroup
                col(width='150')
                col(width='150')
                col(width='150')
                col(width='150')
              tr
                th
                th 代金
                th ポイント率
                th
              tr
                th 買い物の代金
                td １０，０００円
                td ０．５％
                td ５０ポイント
              tr
                th VIASOeショップを経由した買い物の例
                td １０．０００円
                td １０％
                td ５００ポイント
              tr
                th ETCカード利用
                td ４，０００円
                td ポイント２倍
                td ４０ポイント
              tr
                th 携帯電話料金
                td １０，０００円
                td ポイント２倍
                td １００ポイント
              tr
                th プロバイダー料金
                td ５，０００円
                td ポイント２倍
                td ５０ポイント
              tr
                th 合計代金
                td ３９，００００円
                td ポイント合計
                td ６４０ポイント

            p.desc_nb 一般的なポイント率０．５％のクレジットカードと比較すると、VIASOeショップを利用していないことも有りますが、ＶＩＡＳＯカードはポイント数がETCカードや携帯電話料金、プロバイダー料金などについてもポイント２倍となるため、獲得できるポイント数が大きくなります。


            p.desc_nb さらに貯まったポイントは指定の口座に自動でキャッシュバックされる仕組みになっています。そのためポイントの移行の手間や、ポイントをどう使っていいかといった疑問、特に欲しいものが無くポイントを失効させてしまうという無駄を省くことができ、クレジットカードをよりシンプルに、かつ利用しやすいクレジットカードだと言えます。ただし、１年間の累計ポイントが１，０００ポイント未満の場合にはキャッシュバックは行われないので注意して下さい。


            p.desc_nb クレジットカードのポイントをよりシンプルに使いたいという方、メインカードとして携帯電話、ETCサービスなどのポイントもしっかりと貯めたいという方、年会費が無料でかつ海外旅行保険も付帯しているクレジットカードを持ちたいという方はVIASOカードの申し込みを検討してみましょう。

          include include/close/___viaso.pug


          //#include virtual="/foot_social.html"

          div.pageNavi
            a(href="/column/article/"+frontnumber+".html") 前のコラムへ
            a(href="/column/article/"+nextnumber+".html") 次のコラムへ

          p.prev_r.u_space_20
            a(href="/column/2012") 全コラム一覧
          h3.stB このコラムに関連するコンテンツ
          div.discriptionB.clearfix
            ul.col_purpose_l(style="width:500px;")
              li.column
                a(href="/column/article/article194.html") VIASOｶｰﾄﾞのﾎﾟｲﾝﾄ消滅を防ぎ、年間1万円以上の得をえる方法
              li.column
                a(href="/column/article/article144.html") VIASOカードで手間をかけず1ヶ月500円キャッシュバックする方法
              li.column
                a(href="/column/article/article047.html") ビアソカードの審査をクリアするための完全対策

          //#include virtual="/category/menu/main_menu.html"

        div#sideArea
          //#include virtual="/pr/side_top.html"
          //#include virtual="/sidemenu_sub/contents.html"
          //#include virtual="/sidemenu_sub/column.html"
          div.subnaviArea
            //#include virtual="/sidemenu_sub/knowledge.html"
            //#include virtual="/sidemenu_sub/list.html"
            //#include virtual="/sidemenu_sub/osusume/osusume_speed.html"
            //#include virtual="/sidemenu_sub/card.html"
            //#include virtual="/sidemenu_sub/media.html"
            //#include virtual="/sidemenu_sub/search.html"
          script(type="text/javascript" src="/js/random_bottom.js")

        div.pageScroll
          a(href="#pageTop")
            img(src="/images/page_scroll.gif" alt="ページの先頭へ" width="140" height="30" border="0")

      //#include virtual="/footer.html"
      //#include virtual="/tag/tag01.html"
