doctype html
//if (IE 8)&!(IEMobile)
  html.no-js.lt-ie9(lang='ja', itemscope='', itemtype='http://schema.org/WebSite', prefix='og: http://ogp.me/ns#')
// [if gt IE 8] <!
html.no-js(lang='ja', itemscope='', itemtype='http://schema.org/WebSite', prefix='og: http://ogp.me/ns#')
  // <![endif]
  head(prefix='og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# website: http://ogp.me/ns/website#')
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    script(type='text/javascript').
      var meta = document.createElement('meta');
      var width = (window.innerWidth > 0) ? window.innerWidth : screen.width;
      meta.setAttribute('name', 'viewport');
      if (navigator.userAgent.indexOf('Android') > 0) {
      meta.setAttribute('content', 'width=640, user-scalable=yes,target-densitydpi=device-dpi');
      } else if (screen.width <= 320) {
      meta.setAttribute('content', 'width=640, user-scalable=yes,maximum-scale=0.5,initial-scale=0.5');
      } else {
      var viewwidth = 574 / width;
      meta.setAttribute('content', 'width=640, user-scalable=yes,minimum-scale=' + viewwidth + ',maximum-scale=' + 2.0 + ',initial-scale=' + viewwidth);
      }
      document.getElementsByTagName('head')[0].appendChild(meta);
    noscript
      meta(name='viewport', content='width=640, user-scalable=yes,target-densitydpi=device-dpi')
    //if IE
      meta(equiv='imagetoolbar', content='no')
    script(type='text/javascript', src='/js/bunner.js')
    meta(name='robots', content='noindex')
    link(rel='canonical', href='http://lonlab.jp/y/loanbook/006.html')
    link(rel='stylesheet', href='/sp/assets/css/style.css', type='text/css', media='screen')
    meta(name='description', content='審査のセーフゾーンを見極めて即日融資を可能にする方法、カードローンに申込んでみたいけれど、融資額が少ない、期待していたほどの融資額ではなかった、この融資額では足りなかった…など審査の結果、1社では希望通りの融資額を受けることができない場合があります')
    meta(name='keywords', content='審査のセーフゾーンを見極めて即日融資を可能にする方法,ローン研究Lab,ローン,キャッシング,カードローン')
    title 審査のセーフゾーンを見極めて即日融資を可能にする方法 | ローン研究Lab
  body.parts
    .container
      // #include virtual="/y/sp/header.html"
      .s.s1
        section
          .s1--inner
            .breadcrumb
              a.home(href='/sp')
                i.fa.fa-home
              span.current(style='font-size:16px;')  審査のセーフゾーンを見極めて即日融資を可能にする方法
            .midasi.midashi--dai--a
              h2  審査のセーフゾーンを見極めて即日融資を可能にする方法
            .midasi.midashi--chu--c
              h2 シミュレーションから分かる申込しやすいセーフゾーンのカードローン
            .wrap-block.mojisoushoku
              p
                | 審査が不安なときは
                strong.red 「シミュレーション」
                | で月々返済できる金額を入力し、
                strong 借入れ可能な金額
                | を確認しましょう。
                br
                br
                br
                strong 最適な希望額で申込む事で、格段に審査に通りやすくなると言えます。
                br
                br
              h4.sst シミュレーションのある銀行カードローン
              table.normal(width='100%', border='0', cellpadding='5', cellspacing='1')
                tr
                  td
                    a(href='/link/smbc.html', target='_blank')
                      img.financial(src='/images/sc_smbc.gif', alt='金融機関名が入ります。', width='85', height='85', border='0')
                    br
                    a(href='/link/smbc.html', target='_blank') 三井住友銀行
                  td(width='70%')
                    | 返済シミュレーションで
                    strong 毎月の返済額
                    | からいくらまで借りれるのか確認可能！
                    br
                    |  結果をもとに
                    strong
                      span.red 収支に見合った申込みで、審査通過の可能性もアップ！
                    br
                    strong 限度額300万円以内のお申し込みは収入証明不要！
              p
                br
                |  シミュレーションはあくまで仮と思っている方も多いですが、
                strong
                  a(href='/link/smbc.html', target='_blank') 三井住友銀行カードローン
                | の場合は
                strong 本審査の結果とほぼ同等と言われています
                | 。
                br
                span.yellow
                  br
                  br
                  |   借入可能額のシミュレーションで希望額に達していた時は、絶対に検討すべき1社です！
                br
                br
            .midasi.midashi--chu--a
              h2 カードローンのシミュレーションのメリットとデメリット
            .wrap-block.mojisoushoku
              p
                | シミュレーションを見て、
                br
                strong
                  br
                  | 「こんな簡単なもので融資がＯＫか分かるはずない」
                br
                strong 「シミュレーションなんて気休めにしかならない」
                br
                br
                |  こう思った方もいるのではないでしょうか。 
                br
                br
                br
                |  でも実は審査が不安なときほど、いきなり申込むのは、
                span.blue 『審査して貰えるレベルなのか分からないまま申込む』
                | ということになります。
                br
                br
                span.yellow これは対戦相手が強いのか弱いのか何の情報も知らずに、試合に臨むのと同じことです。
                br
                br
                strong
                  span.blue 審査に絶対通らない希望額で申込む→落ちる→また申込む…
                br
                br
                |  この繰り返しでは、申込み履歴が残ってしまい、本来なら通っていたカードローンの審査に通らなくなってしまいます。 
                br
                br
                br
                |  どうせ同じ申込みなら、確率の高い融資先に申込んだ方が効率は良いので不安なときほど、シミュレーションは受けるべきです。
                br
                br
                br
                strong
                  span.red シミュレーションは借入できないところを事前に避けることができる機能
                | と覚えておきましょう。
            h4.sst シミュレーションがある人気カードローン
            .table-swipe-left
              // テーブルスワイプ左
              table
                tbody
                  tr(height='47')
                    th
                  tr
                    th(height='230')
                      a(href='/link/smbc.html', target='_blank')
                        img.card(src='/images/sc_smbc.gif', alt='銀行名２', width='125')
                      a(href='/link/smbc.html', target='_blank')
                        br
                        |  三井住友銀行
                      br
                      br
                  tr
                    th(height='230')
                      a(href='/link/mitubishi.html', target='_blank')
                        img.card(src='/images/sc_mitubishi.gif', alt='', width='120')
                      br
                      a(href='/link/mitubishi.html', target='_blank')
                        | 三菱東UFJ銀行
            // テーブルスワイプ左終了
            .table-swipe-right
              // テーブルスワイプ右開始
              table(style='text-align: center;')
                tbody
                  tr(height='47')
                    // <th scope="col"> </th>
                    th(scope='col') 実質年利
                    th(scope='col') 審査時間
                    th(scope='col') 限度額
                    th(scope='col') おすすめポイント
                  tr
                    td(height='230')
                      | 4.0~14.5%
                    td
                      strong.yellow.red 最短30分
                    td 最大800万円
                    td(align='left')
                      strong.yellow.red 返済シミュレーションあり。
                      br
                      |  300万円まで収入証明不要！
                      br
                      |  他社借入れがあっても一本化が可能です。
                      br
                  tr
                    td(height='230') 1.8～14.6%
                    td
                      strong.yellow.red 最短30分
                    td 最大500万円
                    td(align='left')
                      strong.red.yellow たった3秒で試せるお借入診断あり。
                      br
                      |  即時審査で、最短即日利用できるカードローン。
                      br
                      |  安定収入があればパートや主婦の方でも申込みOK！
                      br
            // テーブルスワイプ右終了
            .wrap-block.mojisoushoku
              h4.sst シミュレーションのメリット
              br
              div(style='border:double; border-color:#C00; margin:20px; padding:20px; font-size:13px;line-height:20px; color:#C00;background-color:#FFC')
                strong
                  | ①年齢、就業形態、借入総額など偽りなく記入すれば、
                  br
                  | 自分がそのカードローン会社で申込んだ場合に、
                  |   セーフゾーンにいるのかがわかる
                  br
                  br
                  |   ②セーフゾーンが数秒で分かる
                  br
                  br
                  | ③お試し診断は名前や住所などを記入しないため、申込み履歴や情報は残らない
                br
              p
                | シミュレーションを受けるということは、自分が診断を受けたカードローン会社に申込み、 審査回答をもらう合否のラインが事前に分かるということになります。
                br
                br
                br
                |  それは、シミュレーションがカードローン会社側の融資ＯＫラインを入力して行なわれているため。
                br
                |  つまりは、 年齢や借入状況から簡単な自動審査を行っているということだからです。
                br
                br
                br
                span.blue
                  | シミュレーションがＮＧのときは、
                  | 自分はその会社の貸し付けできないアウトゾーンにいて、ほとんどの場合落ちてしまいます。
                br
                br
                br
                span.yellow
                  | 融資を望むときは、
                  strong 「融資可能です」
                  | という
                  | 自分がセーフゾーンにいるカードローンを探して確度の高い申込みをしておきましょう。
                br
                br
              h4.sst
                span.yellow.blue シミュレーションのデメリット
              br
              div(style='border:double; border-color:#039; margin:20px; padding:20px; font-size:13px;line-height:20px; color:#039; background-color:#FFC')
                strong
                  | ①シミュレーション通過でも本審査が必ず○になるわけではない
                  br
                  br
                  | ②Ａ社シミュレーションで融資可能という診断を受けて、
                  | Ｂ社のカードローンに申込んでも決まらないこともある
                br
              p
                | まず、お試しはあくまでお試しであり、
                strong 本審査ではない
                | ということは肝に銘じておきましょう。
                br
                span.blue
                  br
                  br
                  | 当然ですが、シミュレーションでいい結果が出ても過去に延滞などを起こしていれば本審査で同じ結果が出ない場合があります。
                br
                br
                br
                |  そして、Ａ社のシミュレーションの結果が良かったため、自分はどこでも申し込めるんだと思い込み、より条件が良いカードローンに申込んでみるというのも良くない例です。
                br
                br
                br
                |  例えば、
                a(href='/link/smbc.html', target='_blank')
                  strong 三井住友銀行
                | のシミュレーションの診断が良かったからといって、
                strong
                  a(href='/link/mitubishi.html', target='_blank') 三菱東京UFJ銀行
                | に申込もうとしてしまうのは、審査基準が違うため審査落ちをしてしまうリスクがあります。
                br
                br
                br
                |  これは
                strong 各カードローン会社により基準が違っている
                | ためです。
                br
                br
                br
                |  あくまで、
                span.yellow シミュレーションを受けたカードローン会社に申込むことが大切
                | です。
            .midasi.midashi--chu--a
              h2 シミュレーション○で申込審査×の理由
            .wrap-block.mojisoushoku
              p
                span.yellow.blue
                  | シミュレーションでは問題なさそうでも、本審査がダメだった…
                  br
                | という場合があります。
                br
                br
                br
                |  そんなときはもう一度、自分の
                span.yellow “借入希望額”
                | を見直してみることをおすすめします。10万円必要なら、希望額10万円にしましょう。
                br
                span.blue
                  br
                  |   希望金額が大きければ大きいほど審査のハードルは高くなります。
                br
                br
                br
                |  当たり前ですが、銀行も収入に見合っていない方への融資はしたくないというのが本音です。
                strong
                  span.red 希望額は必要最低限になっているか気をつけておきましょう。
                br
                br
                br
                |  また、希望額を少なく記入してしまってのシミュレーション結果で
                br
                strong 本審査ではもっと希望額を増やした場合も失敗
                | してしまいます。
                br
                br
                br
                |  シミュレーションは本審査の確率が高いのか、低いのかを確認できる機能ですから、 正確な情報で利用してみましょう。
            .midasi.midashi--chu--a
              h2 返答率を上げるカードローンの選び方
            .wrap-block.mojisoushoku
              p
                | 審査の結果を良きものにするために、 カードローンは
                span.red
                  strong 「シミュレーション」
                  | を用意しているところ
                | から選んでいきましょう！ 
                br
                br
                span.blue
                  | 「借入が多く、月々の支払いも大変になってきた」
                  br
                  |     「またはもう支払日が迫っている」
                br
                br
                |  などの支払いに悩まれている方は特に
                strong
                  a(href='/link/smbc.html', target='_blank') 三井住友銀行
                | や
                strong
                  a(href='/link/mitubishi.html', target='_blank') 三菱東京UFJ銀行
                | のような銀行系カードローンがおすすめです。
              .yellowbox
                dl
                  dt 審査に通るためのポイントまとめ
                  dd
                    span
                      | シミュレーションがあり、
                      strong 「融資可能」
                      | の診断結果を
                      br
                      |     もらったところに申込み
                    | してみましょう。
                    br
              .arrow--big
                p
                  br
                  |  シミュレーション
                  br
                  |  おすすめ2社
              div(align='center')
                table.normal
                  tr
                    td
                      table.normal
                        tr
                          th(width='26%') カードローン名
                          th(width='35%') 基本スペック
                          th(width='39%') シミュレーション
                        tr
                          td
                            a(href='/link/smbc.html', target='_blank')
                              img.financial(src='/images/pr_smbc.gif', alt='銀行名１', width='100', height='82', border='0')
                            br
                            a(href='/link/smbc.html', target='_blank')
                              | 三井住友銀行
                              br
                              |           カードローン
                            a(href='/link/smbc.html', target='_blank')
                          td
                            | 金利 4.0%～14.5%
                            br
                            |  限度額 800万円
                            br
                            |  審査時間
                            strong 最短30分
                          td
                            strong
                              | 借入可能額が分かる
                              br
                              span.red
                                | 『
                                | 返済シミュレーション』
                            br
                        tr
                          td
                            a(href='/link/mitubishi.html', target='_blank')
                              img.financial(src='/images/pr_mitubishi.gif', alt='金融機関名が入ります。', width='100', border='0')
                            br
                            a(href='/link/mitubishi.html', target='_blank')
                              | 三菱東京UFJ銀行
                              br
                              |           カードローン
                          td
                            | 金利 1.8％〜14.6％
                            br
                            |  限度額 500万円
                            br
                            |  審査時間
                            strong 最短30分
                          td
                            strong
                              | ご利用可能か3秒で診断
                              br
                              span.red 『お借入診断
                            span.red 』
                            br
                      strong
              .arrow--big
                p
                  br
                  | 迷ったら
                  br
                  |  ココ
            .wrap--block
              .dialog--a.inimage
                dl
                  dt
                    span 審査に不安な方が選ぶカードローン
                    i.hakase
                  dd
                    .block.block--card.block--card--2
                      .cardface
                        a(href='/link/smbc.html', target='_blank')
                          img(src='/images/pr_smbc.gif', alt='銀行名１', width='300')
                      a.link(href='/link/smbc.html', target='_blank')
                        | 三井住友銀行カードローン
                        i
                      p
                        | 返済シミュレーションで
                        strong 毎月の返済額
                        | からいくらまで借りれるのか確認可能！
                        br
                        |  結果をもとに
                        strong
                          span.red 収支に見合った申込みで、審査通過の可能性もアップ！
                        br
                        |  限度額300万円以内のお申し込みは収入証明不要！
                        br
                    .btn.btn--order--02
                      a(href='/link/smbc.html', target='_blank') お申し込みはこちら
            // 知っとくポイント
            // 知っとくポイント2
            .wrap--block
            br
          // #include virtual="/y/sp/loanbook/popular_column02.html"
          .midasi.midashi--sho--c
            h2 おすすめのカードローン
          .wrap-block.mojisoushoku
            br
            .block--ad(align='center')
              // #include virtual="/y/js/include.php?js=randomb"
          .s.s6
            br
            section
              .s6--inner
                .midasi.midashi--chu--c
                  h2 カードローンの選び方
                // #include virtual="/y/sp/sub_menu.html"
          .s.s7
            section
              .s7--inner
                // #include virtual="/y/sp/page_footer.html"
                // #include virtual="/tag/tag01.html"
          // #include virtual="/y/sp/footer.html"
      // -.container
      // #include virtual="/y/sp/menu.html"
      // - menu
      script(src='/sp/assets/js/lib/jquery.js')
      script(src='/sp/assets/js/lib/mmenu/jquery.mmenu.min.js')
      script(src='/sp/assets/js/lib/slider/jquery.bxslider.js')
      script(src='/sp/assets/js/lib.js')
      script(src='/sp/assets/js/lib/jquery.scrollUp.js')
      script(src='/sp/assets/js/config.js')
      script(src='/sp/assets/js/app.js')
