doctype html
-var title="海外旅行でVISAカードが選ばれる７つのポイント"
-var number="030"
-var frontnumber=number-1
-var nextnumber=number+1
-var description="海外でクレジットカードを使用するといっても、正直どのカードを持てばよいのかわからないですよね。そんなときは、世界中で使われているVISAカードを選ぶのがおすすめです。"
-var keywords="海外旅行,VISA,クレジットカード,おすすめ,検索,比較"


//if (IE 8)&!(IEMobile)
  html.no-js.lt-ie9(lang="ja", itemscope="", itemtype="http://schema.org/WebSite", prefix="og: http://ogp.me/ns#")
// [if gt IE 8] <!
html.no-js(lang="ja", itemscope="", itemtype="http://schema.org/WebSite", prefix="og: http://ogp.me/ns#")
  // <![endif]
  head(prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# website: http://ogp.me/ns/website#")

    include include/___head.pug

    link(rel="canonical", href="http://card-lab.com/gucolumn/article/article"+number+".html")
    link(rel="stylesheet", href="/sp/assets/css/style.css", type="text/css", media="screen")
    meta(name="description", content=description)
    meta(name="keywords", content=keywords)
    title  #{title} | クレジットカード研究Lab
  body.parts
    .container
      //#include virtual="/sp/header.html"
      .s.s1
        section
          .s1--inner
            .breadcrumb
              a.home(href="index.html")
                i.fa.fa-home
              span.current #{title}
            .midasi.midashi--dai--a
              h2 #{title}
            //#include virtual="/sp/foot_social.html"
            <br />
            div.midasi.midashi--chu--a: h2 海外でもっとも利用されているクレジットカードは？
            div.wrap-block.mojisoushoku
              p 海外旅行へ出かけるまえ、いちばん不安に思うことはなんですか？
              dl.em-point
                dt 海外旅行の不安
                dd ①言葉が通じるのか、または話せるのか
                  br
                  br
                  |②お買物が快適にできるのか
                  br
                  br
                  |③盗難に合わないか
                  br
                  br
                  |④ケガをしてしまった、またはさせてしまったなどの現地でのトラブルに合ったとき
                  br
                  br
                  |⑤荷物の多さ
                  div(align='center')
                    img(src='/images/article030_01.png', alt='ポイント移行', width='128', height='128', border='0')
              p 特に悩むところは、②のお買物が快適にできるか、ではないでしょうか。
                br
                br
                | 海外は日本と違いチップが必要となるとこともありますし、観光スポットへ行ったときには、ショッピングとグルメは楽しみたいですから。
                br
                br
                | クレジットカードは国内でお買物をするときの便利・お得アイテムとして利用されていることが多いですが、選び方によっては国内はもちろん、海外でも同様に利用することができることから、海外旅行前に今持っているクレジットカードを見直したり、新しくクレジットカードを作るひとも少なくはありません。
                br
                br
                | ですが海外でクレジットカードを使用するといっても、
                br
                | 正直どのカードを持てばよいのかわからないですよね。
              div(align="center"): img(src="/images/article030_03.gif" width="100%" style="max-width:250px;")
              p そんなときは、
                br
                | 世界中で使われているVISAカードを選ぶのがおすすめです。
                br
                br
                | なぜなら、多くのひとが利用しているという理由には、
                br
                | 必ずその分の魅力があるからです。
                br
                br
                | 「多くのひとが利用している≒多くの魅力（メリット）がある」
                br
                br
                | VISAカードが海外でどのように役立つのかを、
                br
                | ここでしっかりと確認していきましょう。
            div.midasi.midashi--chu--a: h2 選ばれているからには理由がある！
            div.wrap-block.mojisoushoku
              div(align="center"): img(src="/images/article030_02.gif" width="100%" style="max-width:800px;")
              p VISAは数ある国際ブランドのなかでも、
                br
                | 世界最大の利用範囲、カード売上を誇るブランドなのをご存知でしょうか。
                br
                br
                | 利用範囲が広いということは、
                | それだけいろんな国、地域で使えるということになりますし、
                br
                | カード売上があるということはそれだけ多くの国、地域で実際に使われているということが考えられます。
                br
                br
                | でもVISAの使いやすさはこれだけではありません。
                br
                | VISAカードが選ばれる7つのポイントをご紹介しましょう。
            div.midasi.midashi--chu--a: h2 VISAカードが選ばれる7つのポイント
            div.wrap-block.mojisoushoku
              table.normal4
                tbody
                  tr
                    th
                      img(src='/images/list_column_point_01.png', alt='ポイント01')
                    td 誰もが知っているぐらい有名
                  tr
                    th
                      img(src='/images/list_column_point_02.png', alt='ポイント02')
                    td 三井住友、ライフカードなど提携カードが多いので選びやすい
                  tr
                    th
                      img(src='/images/list_column_point_03.png', alt='ポイント03')
                    td プラチナ、ゴールド、デビット、プリペイド、ビジネスカードといったカードの種類が豊富
                  tr
                    th
                      img(src='/images/list_column_point_04.png', alt='ポイント04')
                    td 世界200カ国以上/世界2000万店以上の加盟店があるので、国内でも海外でも使いやすい
                  tr
                    th
                      img(src='/images/list_column_point_05.png', alt='ポイント05')
                    td 電気料金、ガス料金などの公共料金から税金、ファミリーレストランなど生活のいろんな場面で使える
                  tr
                    th
                      img(src='/images/list_column_point_06.png', alt='ポイント06')
                    td 現地通貨を世界190万台以上ある海外ATMで引き出すことができる
                  tr
                    th
                      img(src='/images/list_column_point_07.png', alt='ポイント07')
                    td VISAブランド独自のサービスがある
              p VISAは利用範囲が広いので、ストレスなく会計を済ますことができます。海外旅行に持って行くなら、使いやすさ重視のVISAを選びましょう。
            div.midasi.midashi--chu--a: h2 当サイト1押しのVISAカードはこのカード！
            div.wrap-block.mojisoushoku
              h4.sst 1押しのVISAカード
              div(align="center"): a(href="/link/mitsui/classic.html" target="_blank"):     img(src="/images/mitsui_classic.gif" width="100%" style="max-width:250px;")
              dl.em-point
                dt 1押しの7つの理由
                dd ①国内だけではなく海外でも使える利用範囲の広さ
                  br
                  |②ケガや盗難などのトラブルに対応できる旅行保険が付帯されている
                  br
                  |③写真入りICカードの発行が可能
                  br
                  |④
                  span.red 最短3営業日発行
                  br
                  |⑤
                  span.yellow
                    | インターネット入会で
                    span.red 初年度年会費無料
                  | /
                  span.yellow
                    | マイ・ペイすリボ利用で
                    span.red 年会費無料
                  br
                  |⑥海外旅行先で日本語サポート　VJデスク完備
                  br
                  |⑦VJトラベルでのパッケージツアーが
                  span.red 最大5％オフ
              p 三井住友VISAカードはケガや盗難などに対応できる旅行保険が付帯されているほか、自分の顔写真を載せられるICカードも作成が可能。
                br
                |写真入りを選ぶことで、海外でありがちな身分証明の提示を三井住友VISAカード1枚で解決することもできます。
                br
                br
                |さらに旅行出発日に間に合う最短即日発行も魅力的。
                br
                |ETCカードも組み合わせれば、集合場所や目的地までスムーズに。
                br
                br
                | そして三井住友VISAカードには滞在先で起こったトラブルや観光案内・チケット予約などを日本語でサポートしてくれるサービスもあるほか、VJデスクで旅行ツアーを申込むと最大5％OFFの会員特典もあります。
                br
                br
                |海外で役立つサービスがこんなに充実しているのに、
                br
                | インターネット申込みで年会費初年度無料、条件により翌年度も年会費無料になるというのは嬉しい限り。
                br
                strong
                  | 維持費なしの使いやすいカードなら、
                  span.red 三井住友VISAカード
                  | を選びましょう！
                br
                br
                a(href='/column/article/article017.html') →三井住友VISAカードを永久無料で使う方法はこちら
            .block.block--card.block--card--2
              br
              .cardface
                a(href='/link/mitsui/classic.html', target='_blank')
                  img(src='/images/mitsui_classic.gif', alt='', width='500')
                a.side(href='/link/mitsui/classic.html', target='_blank')
                // 横リンク
              a.link(href='/link/mitsui/classic.html', target='_blank') 三井住友VISAｸﾗｼｯｸｶｰﾄﾞ
            .block.col2
              .right
                .btn.btn--order--02
                  a(href='/link/mitsui/classic.html', target='_blank')
                    | お申し込みはこちら
            div.wrap-block.mojisoushoku
              table.normal(width="95%" align="center")
                tr.normal
                  th(width='30%') 年会費
                  td(width='70%')
                    strong.yellow.red 初年度無料
                    br
                    | 次年度より1,312円（
                    span.red 条件により無料
                    | ）
                tr.normal
                  th ポイントプログラム
                  td 1000円＝1Ｐ
                tr.normal
                  th 会員特典
                  td
                    | 楽天市場、Ｙahoo! ショッピング、Amazon利用で
                    span.yellow ポイント2倍
                    | /
                    br
                    |      ポイントＵＰモールで
                    span.yellow ポイント2～20倍
                tr.normal
                  th 発行日数
                  td
                    | クレカ同時申し込み→最短3営業日
                    br
                    |  ETCカードのみの追加発行→最短2営業日
                tr.normal
                  th ＥＴＣ発行日数
                  td 最短2営業日
            div.midasi.midashi--chu--a: h2 三井住友以外にVISAのサービスも使える
            div.wrap-block.mojisoushoku
              p 三井住友VISAカードは会員特典や付帯されているサービス、
                br
                |セキュリティも万全なので海外旅行に1枚あると大変便利なカードですが、
                br
                |実は三井住友VISAカードの「VISA」にはさらなるお得サービスが付帯されています。
              table.normal(width="95%" align="center")
                caption.u_space_10
                  strong ■VISAのお得サービス例
                tr
                  th(width='20%') ＜ハワイ＞
                  td(width='80%')
                    img(src='/images/article030_04.png', alt='プレゼント', width='64', height='64', align='right')
                    | ■ハワイで人気のお店「アラモアナ・センター」で
                    span.yellow
                      | USドル200以上を
                      br
                      | VISA決済した場合、
                      strong.red ボディローションをプレゼント。
                    | （※1）
                    br
                    | ■「DFSギャラリア・ワイキキ」で
                    span.yellow
                      | USドル200以上をVISA決済した場合、
                      br
                      strong.red ギフトプレゼント。
                    | （※1）
                tr
                  th ＜ヨーロッパ＞
                  td
                    img(src='/images/article030_05.png', alt='ワイン', width='64', height='64', align='right')
                    | ■ヨーロッパで人気の「ギャラリー・ラファイエット」など
                    br
                    strong.yellow.red 有名店で使える優待特典
                    | （※2）
                    br
                    | ■老舗レストラン
                    span.yellow
                      | 「ボファンジュ」の
                      strong.red 優待割引
                    | （※2）
                    br
                    | ■
                    span.yellow
                      | 「ル・ヴィオロン・ダングル」での
                      strong.red ワインサービス
                    | （※2）
                tr
                  th ＜韓国＞
                  td
                    | ■
                    span.yellow
                      | ロッテ免税店
                      strong.red 5％から10％OFF
                    | （※3）
                tr
                  th ＜世界各国＞
                  td
                    | 世界約130カ国、74.000軒のホテル・ホテルクラブの予約ができる
                    span.yellow
                      | オンラインホテル予約「HotelCiub&Visa」でVISAカードを利用すると
                      strong.red 最大15％OFFのサービス
                    | があったりとお得さいっぱい。（※4）
              p ※1/2013年12月末まで
                br
                | ※2/2013年9月末まで
                br
                | ※3/2014年2月14日まで
                br
                | ※4/2013年12月末まで
                br
                br
                | 詳細はオフィシャルサイト [Visa News]へ
              p 三井住友とVISAの優待特典、サービスが使える三井住友VISAカードを海外でフル活用してきましょう！
            div.midasi.midashi--chu--a: h2 VISAカードで旅行範囲を広げよう
            div.wrap-block.mojisoushoku
              p 三井住友VISAカードはとにかく、海外でとても使いやすい1枚です。
                br
                br
                |あらゆる国、地域でのお買物にも使えるのに、
                br
                |お得な会員サービスも受けられる。
                br
                br
                span.red
                  | 滞在中の万が一に備えた保険・盗難補償。
                  br
                  |現地からの日本語案内サービスに加え、身分証明として使えるという利便性。
                br
                br
                |国内でポイント重視として使っているカードも、
                br
                |会員サービス重視で使っているカードも、
                br
                |海外では使いやすいカードを利用した方が無難です。
                br
                br
                |安心と信頼、そしてお得と使いやすさを兼ね備えた三井住友VISAカードを、
                br
                |海外にいく前に必ず用意しておきましょう。


            include include/___close_mitsui_classic.pug

            <br />
            <br />
            //#include virtual="/sp/foot_social.html"
            <br />
            .wrap--block
            <br />
            .s.s3
              section
                .s3--inner
                  .wrap--block
                    .dialog--normal
                      dl
                        dt このコラムに関連するコンテンツ
                        dd
                          ul.list--normal
                            li.column:  a(href='/sp/column/article/article017.html')
                             i
                             | 三井住友VISAカードを永久無料で使う方法
                            li.column:  a(href='/sp/column/article/article006.html')
                             i
                             | 三井住友VISAカード特典のお得な使い方
                            li.column:  a(href='/sp/category/kaigai.html')
                             i
                             | 海外旅行保険付きのクレジットカード
                            li.column:  a(href='/sp/list/issue/mitsui.html')
                             i
                             | 三井住友VISAカード一覧
                            li.column:  a(href='/sp/list/bland/visa.html')
                             i
                             | VISAブランド クレジットカード一覧


      include include/___foot1.pug
    include include/___foot2.pug
