doctype html
-var title="『人気者』ライフカードにはこんな理由があった | クレジットカード研究Lab"
-var number="001"
-var frontnumber=number-1
-var nextnumber=number+1
-var description="ライフカードは全てにおいて高水準。年会費、旅行保険、ポイント、利用額といった 「クレジットカードを申込む上で最も重要視する点をすべて網羅できる」 素敵カードなんです！ということはハッキリと言えます。"
-var keywords="ライフカード,クレジットカード,おすすめ,検索,比較"


//if (IE 8)&!(IEMobile)
  html.no-js.lt-ie9(lang="ja", itemscope="", itemtype="http://schema.org/WebSite", prefix="og: http://ogp.me/ns#")
// [if gt IE 8] <!
html.no-js(lang="ja", itemscope="", itemtype="http://schema.org/WebSite", prefix="og: http://ogp.me/ns#")
  // <![endif]
  head(prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# website: http://ogp.me/ns/website#")

    include include/___head.pug

    link(rel="canonical", href="http://card-lab.com/gucolumn/article/article"+number+".html")
    link(rel="stylesheet", href="/sp/assets/css/style.css", type="text/css", media="screen")
    meta(name="description", content=description)
    meta(name="keywords", content=keywords)
    title  #{title} | クレジットカード研究Lab
  body.parts
    .container
      //#include virtual="/sp/header.html"
      .s.s1
        section
          .s1--inner
            .breadcrumb
              a.home(href="index.html")
                i.fa.fa-home
              span.current #{title}
            .midasi.midashi--dai--a
              h2 #{title}
            //#include virtual="/sp/foot_social.html"
            <br />
            .midasi.midashi--chu--a: h2 ライフカードは全てにおいて高水準
            div.wrap-block.mojisoushoku
              p
                img(src="/images/life_logo.gif", width="145", height="146", hspace="15", align="right")
                |クレジットカードを紹介している雑誌、サイトでいつも
                br
                |ランキング上位にいるライフカードですが、選び側から見ると
                br
                |「ポイント」と「年会費」意外に魅力を見付けにくく、
                br
                |どうして選ばれているのか分からない方が多くいらっしゃると
                br
                |思います。
                br
                br
                |ライフカードの魅力がイマイチ分からないという方に、ライフカードとはどういったカードなのかを説明するとしたら……
                br
                |ライフカードは
                strong 年会費、旅行保険、ポイント、利用額
                |といった
                br
                br
                span.red
                  strong
                    |「クレジットカードを申込む上で最も重要視する点をすべて網羅できる」
                    br
                br
                |素敵カードなんです！　ということはハッキリと言えます。
            .block.block--card.block--card--1
              .cardface
                img(src="/images/life_standard.gif", alt="ライフカード", width="451", height="299")
                a.side(href="/link/life/standard.html" target="_blank")
              a.link(href="/link/life/standard.html" target="_blank")
                |ライフカード
                i
              p
                |ライフカードには
                u 年会費無料タイプ
                |と
                br
                u 有料タイプ
                |があり、
                |年会費無料タイプは
                br
                strong.blue ポイント重視派
                |の方から支持され、
                br
                |有料タイプはサブカードとして旅行保険、
                br
                |その他
                strong.blue 保険重視派
                |の方から、
                br
                |ゴールドカードは高い
                strong.blue ポイントプログラム
                br
                |とサービス面で支持されています。

            div.wrap-block.mojisoushoku
              p
                |雑誌やサイトでは分からなかったライフカードの魅力は、
                br
                |ここのページで確認して申込みに備えておきましょう。
                br
                |読み終える頃にはきっとあなたも「ライフカードユーザー」になっていると思います。
                br
                br
                a(href="/column/article/article001.html#life_hikaku") 各ライフカードの比較表
                |は←こちら
            .midasi.midashi--chu--a: h2 3つの魅力を持つポイントプログラム
            div.wrap-block.mojisoushoku
              p
                img(src="/images/lifecard1.gif", width="300", height="145", align="right")
                |ライフカードの一番の魅力といっても
                br
                |いいのが、貯まりやすくて使いやすい
                br
                span.blue
                  strong ポイントプログラム
                |です。
                br
                br
                br
                br
                |1000円で1.0ポイントは結構「ふつう」と思われがちですが、
                br
                |ライフカードのポイントは
                span.blue
                  strong 還元率、貯蓄、質
                |の3つに
                br
                |とことんこだわった内容になっています。
              h4.sst 【還元率】
              table.normal(width="94%", border="0", cellpadding="5", cellspacing="1")
                tr(bgcolor="#dcdcdc")
                  td(bgcolor="#FFFFFF")
                    |1000円1.0ポイントということは、100円で0.1ポイント付与という意味になります。
                    br
                    |例えば700円の商品をカードで購入した場合、0.7ポイントが付与され、
                    br
                    |15.500円の商品をカード購入した場合、15.5ポイント付与されるということになりますので、
                    br
                    strong.red 100円単位の切り捨てがありません。
              h4.sst 【貯蓄】
              table.normal(width="94%", border="0", cellpadding="5", cellspacing="1")
                tr(bgcolor="#DAE9FC")
                  td
                    |年会費無料タイプのクレジットカードのなかではポイントプログラムが高水準です。
                    br
                    span.red
                      |入会から1年間は
                      strong ポイント1.5倍
                      |、誕生月は
                      strong ポイント5倍
                      |、年間利用額50万円以上でさらにＬ-Ｍａｌｌ経由の
                      br
                      |ネットショッピングで
                      strong ポイント最大25倍
                      |を得ることができます。
                    br
                    |300ポイントプレゼント（スペシャルボーナス）、そのほかに年間利用額50万円以上で
                    br
                    |次年度基本ポイント1.5倍、 年間利用額150万円以上で次年度基本ポイント2倍となります。
              h4.sst 【質①】
              table.normal(width="94%", border="0", cellpadding="5", cellspacing="1")
                tr(bgcolor="#dcdcdc")
                  td(bgcolor="#FFFFFF")
                    |ライフカードの1ポイントの大きさをここで確認していきましょう。
                    br
                    |ライフカードで貯めたポイントは
                    span.blue 1ポイント＝3マイル
                    |として交換もできるのでマイルも貯まりやすいです。
                    br
                    |しかも
                    span.blue 移行手数料無料
                    |で上限がありません。
                    br
                    br
                    |例：誕生月にふたりで飛行機を使った旅行へ行った場合
                    br
                    br
                    |往復6万円（片道3万円）×2人分＝12万円
                    br
                    br
                    |ポイントは誕生月なので5倍となり
                    span.red 600ポイント
                    |付与され、
                    br
                    |これをマイルに移行したとき
                    strong
                      span.red 1800マイル
                    |にもなります。
                    br
                    br
                    |例はあくまで誕生月のポイントアップイベントを表記したものですが、
                    br
                    |利用者の方はこのほかにも通常利用、 入会特典、ポイントステージ、Ｌ-Ｍａｌｌで
                    br
                    |ポイントを得ているので、その分交換マイルが大きくなると思います。
              h4.sst 【質②】
              table.normal(width="94%", border="0", cellpadding="5", cellspacing="1")
                tr(bgcolor="#dcdcdc")
                  td(bgcolor="#FFFFFF")
                    |Ｅｄｙチャージでポイント付与されるクレジットカードが少なくなっているなか、
                    br
                    span.blue Ｅｄｙチャージでポイント付与
                    |が可能のライフカードは拍手ものです。
                    br
                    |意外に知られてはいませんが、Ｅｄｙが出始めた頃チャージポイント付与はあたりまえでした。
                    br
                    br
                    |しかし最近はＥｄｙチャージポイントを付与するクレジットカードが少なくなり、
                    br
                    |年会費無料タイプでみるとさらに少なくなっています。
                    br
                    |Ｅｄｙは電子マネーの先駆けであり、電子マネーシェア率も高いことから
                    br
                    |こういったポイント面でのサービスは嬉しいです。
              p
                br
                |ライフカードのポイントは質が良くて貯まりやすい、そして使いやすい。
                br
                |そこが選ばれている理由なんです。
            .midasi.midashi--chu--a: h2 使い方次第で交換賞品もお得にＧＥＴ
            div.wrap-block.mojisoushoku
              p
                |ライフカードは維持費がかからないのに、
                strong 交換賞品をお得に手にできます。
                br
                |ライフカードは
                span.blue
                  strong 1000ポイント
                  |で5000円のＪＣＢギフトカードと交換
                |ができます。
                br
                |「え？ 1000ポイントも貯めるの？」と思ってしまった方、
                br
                |もう一度ここで、その1000ポイントがどれだけ貯まりやすいのかを確認していきましょう。
                br
                br
                br
                |一人暮らしの方が光熱費をライフカード払いしたときのポイント数を実例で見ていきます。
                dl.memo
                  dt
                  dd 電気料金、ガス料金、水道料金、新聞代、インターネット通信料、
                    br
                    |固定電話、携帯電話料金の合計が一人暮らしの場合、
                    br
                    |平均月額18.372円となるそうです。
                    br
                    |（ちなみに二人暮らしは25.763円、三人34.833円、四人41.437円）
                    br
                    font(size="-1") ※厚生省統計局調べによる

            div.wrap-block.mojisoushoku
              p
                |一人暮らしの方が上記の光熱費をライフカード払いしたとき、
                br
                |入会特典の
                span.red 1.5倍
                |、
                |誕生月
                span.red 5倍
                |で
                span.red
                  strong
                    font(size="-1")
                      u ※
                    u 1年間432ポイント
                |が貯まることになります。

                dl.em-point
                  dt ポイント！
                  dd テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト

            .parts_05
              p
                span
                  strong
                    font.red(size="-2") ※
                  |光熱費だけでこのポイント数が貯まるというのもすごいですが、
                  br
                  |さらに少し上を目指して美容室代やネットショッピング、
                  br
                  |食品、洋服（毎月平均光熱費+その他に約23.000円利用）など
                  br
                  |ライフカード払いすると
                span.blue 年間50万円のポイントステージ
                span
                  |に突入し、
                  br
                  br
                  |翌年は常に
                span.red
                  strong 1.5倍
                span （入会年と変わらない）待遇となります。
                br
            table(width="100%", border="0", cellspacing="0", cellpadding="0")
              tr
                td
                  img(src="/images/bg_parts_05under.jpg", width="650", height="15")
            br
            div.wrap-block.mojisoushoku
              p
                |上記のように1カ月の光熱費、その他での利用があれば、
                br
                |年間で880ポイント貯まることとなり、ここにスペシャルボーナス300ポイントが加算と
                br
                |なるので、目指してた
                span.blue
                  strong 1000ポイント
                |に届きます。
                br
                br
                |有効期限は5年ありますから、もっとゆっくり貯めてきたいという方であっても光熱費を
                br
                |ライフカードで支払っていけば1000ポイント＝ＪＣＢギフトカードは5年のうちに最低2回は
                br
                |交換できるかと思います。年会費無料のライフカードなら維持費はかからないのに、
                br
                |光熱費を支払っているだけで5000円のギフトカードを手にすることができます。
                br
                |クレジットカード業界最高レベルのポイント待遇を是非、実感してみてくださいね。
            br
            .parts_08
              h3.sst_parts_08 LIFEサンクスポイント移行サービス
              p.txt_parts_08
                span
                  |交換レートを一覧でまとめました。１ポイント
                  br
                  |いくらになるのか？しっかりチェックしましょう。
            div.wrap-block.mojisoushoku
              br
              table.normal(width="94%", border="0", cellpadding="5", cellspacing="1")
                tr
                  th(colspan="2")
                    div(align="center")
                      |＜
                      strong ポイント移行サービス
                      font(size="-2")  ※最低300ポイントから移行可能
                      |＞
                tr
                  th(width="37%")
                    img(src="/images/club_docomo.gif", width="80", height="29", align="absmiddle")
                    font(size="-2") [ドコモプレミアクラブ]
                  td(width="63%")
                    |300P＝ドコモポイント
                    strong 1500ポイント
                tr
                  th
                    img(src="/images/bellemaison.gif", width="80", height="15", align="absmiddle")
                    font(size="-2") [ベルメゾンポイント]
                  td(width="63%")
                    |300P＝ベルメゾン・ポイント
                    strong 1500ポイント
                tr
                  th
                    img(src="/images/logo_au.gif", alt="", width="80", height="32", align="absmiddle")
                    font(size="-2") [auポイントプログラム]
                  td(width="63%")
                    |300P＝auポイント
                    strong 1500ポイント
                tr
                  th
                    img(src="/images/jpoint_logo.gif", alt="", width="80", height="32", align="absmiddle")
                    font(size="-2") [J-Point]
                  td(width="63%")
                    |300P＝Jポイント
                    strong 750ポイント
                tr
                  th
                    img(src="/images/logo_rakuten.gif", alt="", width="80", height="53", align="absmiddle")
                    font(size="-2") [楽天スーパーポイント]
                  td(width="63%")
                    |300P＝楽天スーパーポイント
                    strong 1500ポイント
                tr
                  th
                    img(src="/images/logo_gpoint.gif", alt="", width="80", height="21", align="absmiddle")
                    font(size="-2") [Gポイント]
                  td(width="63%")
                    |300P＝
                    strong 1500 Gポイント
                tr
                  th
                    img(src="/images/gift_logo.gif", alt="", width="80", height="66", align="left")
                    font(size="-2")
                      |[JCBギフトカード]
                      br
                      | 　[クオカード]
                      br
                      | 　[図書カード]
                      br
                      | 　[JTBトラベルギフトカード]
                  td(width="63%")
                    |・1,000P＝商品券
                    strong 5,000円分
                    br
                    | ・1,800P＝商品券
                    strong 10,000円分
                    br
                    | ・8,800P＝商品券
                    strong 50,000円分
                    br
                    | ・15,000P＝商品券
                    strong 100,000円分
            div.wrap-block.mojisoushoku
              h3.sst_tokutyou 長いポイント有効期限
              p
                |ポイントを貯め続けていたある日、明細書を見てはじめて失効ポイントに気がついたりしていませんか。
                |クレジットカードのポイント有効期限は最大2年で設定してあるところが多くありますが、
                span.red
                  |ライフカードは
                  strong 5年
                  |と長期の設定となっています。
                  br
                br
                |有効期限が長いということは、その分多くのポイントを貯めることができるので、
                br
                |ポイント数の大きい賞品を狙えたりもできますし、
                br
                |ゆっくりとポイントを貯めたい方やポイントはあくまでサブ的な感じでと
                br
                |考えている方にとっても大きな魅力となると思います。
                br
                br
                |ライフカードなら有効期限2年のカードよりはポイント交換を焦らなくてすみます。
            br

            .midasi.midashi--chu--a: h2 ライフカードの利用限度額に注目
            div.wrap-block.mojisoushoku
              p
                |クレジットカードを申込むときに、
                br
                |利用限度額を気にしている方はライフカードが断然おすすめです。
                br
                br
                |なぜなら、年会費無料のクレジットカードは利用限度額が100万円のところが
                br
                |ほとんどですが、ライフカードは上を行く
                span.blue 『限度額200万円』
                |だからです。
                br
                |年会費無料のクレジットカードでこんなに利用額が大きいとあれば、
                br
                |海外旅行でのショッピング、欲しかった家電製品購入にも利用できて、困ったときには少しキャッシングさせて頂いてと使い勝手は◎。（キャッシングはポイントなし）
                br
                br
                |使い過ぎにはもちろん気をつけなければいけませんが、
                br
                |限度額が大きいということはそれだけ使い道が増えるということなので
                br
                |やっぱりすごかった！　ライフカード！
              h4#life_hikaku.sst ライフカード比較一覧表
              table.normal(width="94%", border="0", cellpadding="5", cellspacing="1", bgcolor="#dcdcdc")
                th(bgcolor="#ececec") カード名
                th(bgcolor="#ececec") 年会費
                th(bgcolor="#ececec") 旅行保険
                th(bgcolor="#ececec") 選びポイント
                tr
                  td(align="center", bgcolor="#FFFFFF")
                    a(href="/card/life/standard.html") ライフカード
                    br
                    a(href="/card/life/standard.html")
                      img#Imagelife.card(src="/images/life_standard_135.gif", width="135", height="85", border="0")
                  td(width="10%", bgcolor="#FFFFFF") 無料
                  td(bgcolor="#FFFFFF") -
                  td(bgcolor="#FFFFFF")
                    |●維持費なくライフカードを持ちたいひと
                    br
                    |●ポイント重視のひと
                    br
                    |●人気のクレジットカードを所有したいひと
                    br
                    |●クレジットカードデビューのひと
                tr
                  td(align="center", bgcolor="#FFFFFF")
                    a(href="/card/life/visa.html") ライフ　ＶＩＳＡカード
                    br
                    a(href="/card/life/visa.html")
                      img#Imagelife.card(src="/images/life_visa_135.gif", width="135", height="85", border="0")
                  td(width="10%", bgcolor="#FFFFFF") 無料
                  td(bgcolor="#FFFFFF") -
                  td(bgcolor="#FFFFFF")
                    |●維持費なくライフカードを持ちたいひと
                    br
                    |●ポイント重視のひと
                    br
                    |●人気のクレジットカードを所有したいひと
                    br
                    |●クレジットカードデビューのひと
                    br
                    |●サブカード、もしくはメインをライフカードに切り替えしたいひと
                tr
                  td(align="center", bgcolor="#FFFFFF")
                    a(href="/card/life/master_a.html")
                      |ライフ　Ｍａｓｔｅｒ　Ｃａｒｄ
                      br
                      |（Ａタイプ）
                    br
                    a(href="/card/life/master_a.html")
                      img.card(src="/images/life_master_a_135.gif", width="135", height="85", border="0")
                  td(bgcolor="#FFFFFF") 無料
                  td(bgcolor="#FFFFFF") -
                  td(bgcolor="#FFFFFF")
                    |●維持費なくライフカードを持ちたいひと
                    br
                    |●ポイント重視のひと
                    br
                    |●人気のクレジットカードを所有したいひと
                    br
                    |●サブカード、もしくはメインをライフカードに切り替えしたいひと
                    br
                    |●海外旅行先でも利用したいひと
                tr
                  td(align="center", bgcolor="#FFFFFF")
                    a(href="/card/life/gold.html") ライフカード　ゴールド
                    br
                    a(href="/card/life/gold.html")
                      img.card(src="/images/life_gold_135.gif", width="135", height="85", border="0")
                  td(bgcolor="#FFFFFF") 10500円
                  td(bgcolor="#FFFFFF")
                    |海外旅行保険
                    br
                    |（自動）/最高1億
                    br
                    |国内旅行保険
                    br
                    |（自動）/最高1億
                    br
                    |海外旅行保険
                    br
                    |家族特約（自動）
                    br
                    |/最高1000万円
                    br
                    |国内旅行保険
                    br
                    |家族特約（自動）
                    br
                    |/最高1000万円
                    br
                  td(bgcolor="#FFFFFF")
                    |●手厚い補償があるカードを探しているひと
                    br
                    |●お手頃なゴールドカードを所有したいひと
                    br
                    |●ポイントをたくさん貯めたいひと
                    br
                    |●国内外の旅行、出張が比較的多いひと
                    br
                    |●ゴールドカードの切替えを考えているひと
                tr
                  td(align="center", bgcolor="#FFFFFF")
                    a(href="/card/life/master_b.html")
                      |ライフ　Ｍａｓｔｅｒ　Ｃａｒｄ
                      br
                      |（Ｂタイプ）
                    br
                    a(href="/card/life/master_b.html")
                      img.card(src="/images/life_master_b_135.gif", width="135", height="85", border="0")
                  td(bgcolor="#FFFFFF") 無料
                  td(bgcolor="#FFFFFF") -
                  td(bgcolor="#FFFFFF")
                    |●年会費無料のカードを探しているひと
                    br
                    |●人と違うデザインのカードを持ちたいひと
                    br
                    |●スマートなカードを探していたひと
                    br
                    |●ライフサンクスポイントに興味があるひと
                    br
                    |●手軽にクレジットカードを持ちたいひと
                    br
                tr
                  td(align="center", bgcolor="#FFFFFF")
                    a(href="/card/life/gakusei.html") 学生専用ライフカード
                    br
                    a(href="/card/life/gakusei.html")
                      img.card(src="/images/life_gakusei_135.gif", width="135", height="85", border="0")
                  td(bgcolor="#FFFFFF") 無料
                  td(bgcolor="#FFFFFF")
                    |海外旅行保険
                    br
                    |（自動）
                    |/最高2000万円
                  td(bgcolor="#FFFFFF")
                    |●年会費無料の学生カードを探しているひと
                    br
                    |●学生ならではの特典が欲しいひと
                    br
                    |●留学や海外旅行を控えているひと
                    br
                tr
                  td(align="center", bgcolor="#FFFFFF")
                    a(href="/card/life/hoken.html")
                      |ライフカード
                      br
                      |（旅行傷害保険付き）
                    br
                    a(href="/card/life/hoken.html")
                      img.card(src="/images/life_hoken_135.gif", width="135", height="85", border="0")
                  td(bgcolor="#FFFFFF") 1312円
                  td(bgcolor="#FFFFFF")
                    |海外旅行保険
                    br
                    |（自動）
                    |/最高2000万円
                    br
                    |国内旅行保険
                    br
                    |（自動）
                    |/最高1000万円
                  td(bgcolor="#FFFFFF")
                    |●手厚い補償のあるカードを探しているひと
                    br
                    |●年会費を抑えたいひと
                    br
                    |●現在利用中のクレジットカードの切替えを考えているひと
                    br
                    |●ポイントプログラムに興味のあるひと
                    br
                tr
                  td(align="center", bgcolor="#FFFFFF")
                    a(href="/card/life/toping.html") ライフ　トッピングカード
                    br
                    a(href="/card/life/toping.html")
                      img.card(src="/images/life_toping_135.gif", width="135", height="85", border="0")
                  td(bgcolor="#FFFFFF") 1312円
                  td(bgcolor="#FFFFFF") オプション
                  td(bgcolor="#FFFFFF")
                    |●人とは違うデザインカードを持ちたいひと
                    br
                    |●カードデザインを選びたいひと
                    br
                    |●付帯保険やサービスを自分で選びたいひと
                    br
                    |●Ｅｄｙをよく利用するひと
                    br
                    |●ポイントを上手に利用していきたいひと
                    br


            <br />
            <br />
            //#include virtual="/sp/foot_social.html"
            <br />
            .wrap--block
            <br />
            .s.s3
              section
                .s3--inner
                  .wrap--block
                    .dialog--normal
                      dl
                        dt このコラムに関連するコンテンツ
                        dd
                          ul.list--normal
                            li.column: a(href="/sp/list/cate/kokyo.html")
                             i
                             |公共料金支払いでお得なカード一覧
                            li.column: a(href="/list/cate/point.html")
                             i
                             |ポイントが貯まるカード一覧

      include include/___foot1.pug
    include include/___foot2.pug
