doctype html
-var title="アメリカ旅行で得できる 優待サービス付きのクレジットカード"
-var number="039"
-var frontnumber=number-1
-var nextnumber=number+1
-var description="三井住友VISAカードは、三井住友カードの会員特典と国際ブランドVISAの会員特典が使える1枚で、様々な特典が付帯され、年会費割引サービスのあるクレジットカードです。アメリカ旅行へいくときは、三井住友VISAカードを持って行きましょう !"
-var keywords="アメリカ旅行,海外旅行保険,三井住友VISA,会員特典,JCBカード,クレジットカード,おすすめ,検索,比較"


//if (IE 8)&!(IEMobile)
  html.no-js.lt-ie9(lang="ja", itemscope="", itemtype="http://schema.org/WebSite", prefix="og: http://ogp.me/ns#")
// [if gt IE 8] <!
html.no-js(lang="ja", itemscope="", itemtype="http://schema.org/WebSite", prefix="og: http://ogp.me/ns#")
  // <![endif]
  head(prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# website: http://ogp.me/ns/website#")

    include include/___head.pug

    link(rel="canonical", href="http://card-lab.com/gucolumn/article/article"+number+".html")
    link(rel="stylesheet", href="/sp/assets/css/style.css", type="text/css", media="screen")
    meta(name="description", content=description)
    meta(name="keywords", content=keywords)
    title  #{title} | クレジットカード研究Lab
  body.parts
    .container
      //#include virtual="/sp/header.html"
      .s.s1
        section
          .s1--inner
            .breadcrumb
              a.home(href="index.html")
                i.fa.fa-home
              span.current #{title}
            .midasi.midashi--dai--a
              h2 #{title}
            //#include virtual="/sp/foot_social.html"
            <br />
            .midasi.midashi--chu--a
              h2 アメリカ旅行ではクレジットカードが便利
            .wrap-block.mojisoushoku
              div(align='center')
                br
                img(src='/images/article039_01.jpg', alt='アメリカ', width='478', height='328', hspace='10')
              p
                | アメリカはクレジットカード大国と言われている程、日本以上にクレジットカードが浸透している国です。
                br
                br
                |   アメリカでは日本で言う
                span.yellow
                  | 小さな商店から大型スーパー、ガソリンスタンドなど、支払いが必要なところではほぼ
                  span.red クレジットカード払いが主流
                  | となっているので、
                  strong アメリカ旅行にはクレジットカードが必須アイテム
                  | となります。
                br
                br
                | クレジットカードはお買物のほかに、
                span.blue 現地通貨キャッシング
                | 、
                span.blue 海外旅行保険
                | 、
                span.blue 会員特典
                | といった現地で使いやすいサービスがついているものもありますので、アメリカ旅行前には必ず、
                span.yellow クレジットカードのスペックを確認しておきましょう
                | 。
                br
                br
                |   クレカLab編集部では、
                br
                strong アメリカ旅行をさらに満喫できるクレジットカードを探しだしました !
            .midasi.midashi--chu--a
              h2 アメリカ旅行で得できるクレジットカードNO1は?
            .wrap-block.mojisoushoku
              p
                | クレジットカードは、ただ買物をするだけのアイテムではなく、購入した商品の金額に応じてポイントがもらえたり、電子マネーに交換できたり、買物補償などの保険がついているものなど、そのカードにより目玉となるサービスが異なっています。
                br
                br
                | 日常生活で使いやすいのはもちろんですが、海外旅行へ行ったときに、クレジットカードについている会員特典を使って、旅ができたら…… それこそ本当にお得ですよね。
                br
                br
                | そこで。
                br
                | アメリカ旅行のここぞというときに、得できるクレジットカードとはどんなカードなのか、そのポイントをあげてみます。
              h4.sst3 ｱﾒﾘｶ旅行を満喫するｸﾚｼﾞｯﾄｶｰﾄﾞ選び7つのﾎﾟｲﾝﾄ
              table.normal4
                tbody
                  tr
                    th
                      img(src='/images/list_column_point_01.png', alt='ポイント01')
                    td 海外キャッシング機能がある
                  tr
                    th
                      img(src='/images/list_column_point_02.png', alt='ポイント02')
                    td 現地から日本語で問い合わせできるデスクサポートがある
                  tr
                    th
                      img(src='/images/list_column_point_03.png', alt='ポイント03')
                    td 空港ラウンジサービスがついている
                  tr
                    th
                      img(src='/images/list_column_point_04.png', alt='ポイント04')
                    td 現地のショップや飲食店で優待がある
                  tr
                    th
                      img(src='/images/list_column_point_05.png', alt='ポイント05')
                    td 現地のレンタカーを借りるときに優待がある
                  tr
                    th
                      img(src='/images/list_column_point_06.png', alt='ポイント06')
                    td 海外旅行保険がついている
                  tr
                    th
                      img(src='/images/list_column_point_07.png', alt='ポイント07')
                    td ホテルやツアーの割引がある
              dl.em-point
                dt ポイント！
                dd ここにクレジットカードの年会費がかからない、
                  span.yellow 「年会費無料」
                  | が入れば、アメリカ旅行に持って行くのに申し分のないクレジットカードとなりますよね。
                  br
                  br
                  | 「そんなクレジットカードあるの?」
                  br
                  br
                  | と一見、疑問に思ってしまうのも無理はありません。
                  br
                  | アメリカ旅行で使える、そんな都合の良いカードがあるのかどうか以前に、こんなにクレジットカードの種類が溢れているなか、そんなクレジットカードを探すのは一苦労ですよね。
                  br
                  br
                  | そこで、クレカLab編集部では、
                  br
                  | 総力をあげて、アメリカ旅行で使えるクレジットカードを探しだしました !
                  br
                  br
                  | クレカLabがおすすめするアメリカ旅行で得できるクレジットカードは、
                  br
                  strong
                    | ずばり !
                    br
                    span.blue 【三井住友VISAカード】
                  | です !
            br
            .midasi.midashi--chu--a
              h2 三井住友ＶＩＳＡカードで得できる9つの理由
            .wrap-block.mojisoushoku
              p
                | 三井住友VISAカードは、
                span.blue 三井住友カードの会員特典
                | と
                span.blue 国際ブランドVISAの会員特典
                | が使える1枚で、先ほど、紹介した
                span.yellow
                  strong 「アメリカ旅行を満喫するクレジットカードﾞ選び7つのポイント」
                  | の特典が全て付帯され、年会費割引サービスのあるクレジットカード
                | です。
              h4.sst 1,海外キャッシング
              table.normal(width='94%', border='0', cellpadding='5', cellspacing='0')
                tr
                  td(width='10%')
                    img(src='/images/article038_icon8.gif', alt='気温', width='50', height='50')
                  td
                    | 三井住友VISAカードの海外キャッシングは、世界150カ国以上、96万台のATMで利用できます。
                    br
                    | 現地通貨によるキャッシングなので、ちょっと足りないときにも便利。
              h4.sst 2,外貨宅配
              table.normal(width='94%', border='0', cellpadding='5', cellspacing='0')
                tr
                  td(width='10%')
                    img(src='/images/article038_icon5.gif', width='50', height='50', alt='外貨宅配')
                  td 海外旅行、海外出張などを控えているものの、両替に行く時間がない会員に向け、外貨宅配があります。
              h4.sst 3,VJデスク
              table.normal(width='94%', border='0', cellpadding='5', cellspacing='0')
                tr
                  td(width='10%', rowspan='10')
                    img(src='/images/article039_icon3.gif', alt='VJデスク', width='50', height='50')
                  td(colspan='2') 三井住友VISAカードには4つのデスクサービスがあります。
                tr
                  td
                    img(src='/images/arrow01.gif', width='16', height='16')
                  td
                    strong インフォメーションサービス
                    br
                    |    現地の最新情報、宿泊、飲食、交通機関の案内をしてくれます。
                tr
                  td
                    img(src='/images/arrow01.gif', width='16', height='16')
                  td
                    strong リザベーションサービス
                    br
                    | レストランやオプショナルツアー、レンタカー、各種チケットなどの案内、予約、手配をしてくれます。
                tr
                  td
                    img(src='/images/arrow01.gif', alt='', width='16', height='16')
                  td
                    strong アシスタンスサービス
                    br
                    | 旅行や出張に必要なガイドや通訳の手配をしてくれます。
                tr
                  td
                    img(src='/images/arrow01.gif', alt='', width='16', height='16')
                  td
                    strong エマージェンシーサービス
                    br
                    | パスポートやクレジットカードの盗難や紛失してしまった場合にサポートしてくれます。
              h4.sst 4,空港ラウンジ
              table.normal(width='94%', border='0', cellpadding='5', cellspacing='0')
                tr
                  td(width='10%')
                    img(src='/images/article039_icon4.gif', width='50', height='50', alt='空港ラウンジ')
                  td
                    | 三井住友VISAゴールドカード以上から、空港ラウンジがついていきます。
                    br
                    a(href='http://card-lab.com/column/article/article027.html') ※三井住友VISAゴールドを半額で所有する方法あります。
                    br
              h4.sst 5,世界のお得なお店ガイド
              table.normal(width='94%', border='0', cellpadding='5', cellspacing='0')
                tr
                  td(width='10%')
                    img(src='/images/article039_icon5.gif', alt='お店ガイド', width='50', height='50')
                  td
                    | 「世界のお得なお店ガイド」に掲載されているお店のクーポンを使って、三井住友VISAカード払いすると割引やプレゼントなどの優待特典があります。
                    br
                    | 掲載店/ニューヨーク、ロサンゼルス、サンフランシスコ、ラスベガスなど。
              h4.sst 6,海外レンタカー優待
              table.normal(width='94%', border='0', cellpadding='5', cellspacing='0')
                tr
                  td(width='10%')
                    img(src='/images/article039_icon6.gif', alt='レンタカー', width='50', height='50')
                  td 世界145カ国、8000カ所以上のネットワークがある「ハーツ・レンタカー」や「バシェットレンタカー」の割引優待があります。
              h4.sst 7,海外おみやげ品宅配
              table.normal(width='94%', border='0', cellpadding='5', cellspacing='0')
                tr
                  td(width='10%')
                    img(src='/images/article039_icon7.gif', alt='宅配', width='50', height='50')
                  td 旅行の時間を満喫させたい会員に向け、出発前に選んだおみやげを帰国時に合わせて自宅へ届けてくれるサービスです。
              h4.sst 8,海外旅行保険
              table.normal(width='94%', border='0', cellpadding='0', cellspacing='0')
                tr
                  td(width='10%')
                    img(src='/images/article039_icon8.gif', alt='海外旅行保険', width='50', height='50')
                  td 三井住友VISAカードは海外旅行保険がついているものが多く、ラインナップも豊富です。
              h4.sst 9,「VISA」の優待特典がある
              table.normal(width='94%', border='0', cellpadding='0', cellspacing='0')
                tr
                  td(width='10%')
                    img(src='/images/article039_icon9.gif', alt='ＶＩＳＡ', width='50', height='50')
                  td 国際ブランドVISAによる、ホテルやショッピング割引があります。
              p
                | 三井住友VISAカードのサービスが豊富なのは一目瞭然 !
                br
                span.yellow
                  | アメリカ旅行へいくときは、
                  span.blue
                    strong 三井住友VISAカード
                  | を持って行きましょう !
              h4.sst 三井住友カード以外にもVISA優待サービスが使える
              p
                | 三井住友VISAカードを持ったら、Hの「VISA」の優待特典も使わなきゃもったいない !
                br
                strong VISA優待特典
                | (例)
                br
                | ①VISAカード利用で、世界約74,000軒のホテルがホテルクラブの料金が
                span.red 最大15%OFF !
                br
                | ②
                s
                  | アメリカの有名デパート「
                  span.blue Bloomingdale's
                  | 」が対象。
                  br
                  | ショッピングがお得になる
                  span.red 「10% All Day Saving Pass」
                  | の進呈、さらにVISAカード払い$200(New York店は$300) 以上でお買い上げで
                  span.red ギフトをプレゼント !
                  |  (2014/3月末まで)
                br
                | ③
                s
                  | 全米850ヶ所で展開する「
                  span.blue Macy's
                  | 」で、VISAカードを使ったショッピングが
                  span.red 30日間10%OFFで使えるSaving Card をプレゼント !
                  | (2014/3月末まで)
                | 　現在このキャンペーンは終了しています。
            .wrap-block.mojisoushoku
              h4.sst ショップ・レストラン優待
              p VISAを利用して優待価格でショッピングやレストランを楽しみましょう !
              table.normal(width='94%', border='0', align='center', cellpadding='5', cellspacing='1')
                tr
                  th(scope='row')
                    | ニューヨーク
                    br
                    img(src='/images/ny.gif', alt='ニューヨーク', width='80', height='51', align='middle')
                  td
                    div(align='center')
                      a(href='america.html#ny_s', target='_blank')
                        span.yellow
                          | 最大
                          span.red 20%OFF
                        |  ショップ一覧
                  td
                    div(align='center')
                      a(href='america.html#ny_r', target='_blank')
                        span.yellow
                          | 最大
                          span.red 15%OFF
                        |  レストラン一覧
                tr
                  th(scope='row')
                    | ロサンゼルス
                    br
                    img(src='/images/los.gif', alt='ロサンゼルス', width='80', height='51', align='middle')
                  td
                    div(align='center')
                      a(href='america.html#los_s', target='_blank')
                        span.yellow PRESENT優待
                        |  ショップ一覧
                  td
                    div(align='center')
                      a(href='america.html#los_r', target='_blank')
                        span.yellow SERVICE優待
                        |  レストラン一覧
                tr
                  th(scope='row')
                    | サンフランシスコ
                    br
                    img(src='/images/sf.gif', alt='サンフランシスコ', width='80', height='51', align='middle')
                  td
                    div(align='center')
                      a(href='america.html#sf_s', target='_blank')
                        span.yellow
                          | 最大
                          span.red 10%OFF
                        |  ショップ一覧
                  td
                    div(align='center')
                      a(href='america.html#sf_r', target='_blank')
                        span.yellow
                          | 最大
                          span.red 20%OFF
                        |  レストラン一覧
                tr
                  th(scope='row')
                    | ラスベガス
                    br
                    img(src='/images/lv.gif', alt='ラスベガス', width='80', height='51', align='middle')
                  td
                    div(align='center')
                      a(href='america.html#lv_s', target='_blank')
                        span.yellow PRESENT優待
                        |  ショップ一覧
                  td
                    div(align='center')
                      a(href='america.html#lv_r', target='_blank')
                        span.yellow
                          | 最大
                          span.red 15%OFF
                        | レストラン一覧
              br
            .midasi.midashi--chu--a
              h2 有名観光地ならJCBカードもおすすめ
            .wrap-block.mojisoushoku
              p
                | 海外では使えないイメージのあるJCBカードですが、約5千万人のカード会員を誇るアメリカの大手カード会社・ディスカバー社が使える店舗での利用が可能となり、アメリカだけでも550万店以上でJCBカードが使えるようになりました。
                br
                br
                | さらに、JCBカードにはアメリカで使える会員特典もついており、なかでも年会費無料で海外旅行保険が自動付帯でついている「JCBEITカード」なら、持っているだけで海外旅行保険が適応になり、お得感たっぷりです。
              h4.sst アメリカ旅行で使えるＪＣＢＥＩＴカードの会員特典
              table.normal(width='94%', border='0', cellpadding='5', cellspacing='1')
                tr
                  th @JCB会員優待店
                tr
                  td ・JCBショッピング&ダイニングパスポートのクーポン提示後、JCBカードで支払いをすると優待や割引があります。
                tr
                  th A日本語で話せる「JCBプラザ・ラウンジ」「JCBプラザ」が利用可能
                tr
                  td
                    | ・観光案内からレストラン、ホテル、ツアー、各種チケットの予約、カード紛失、盗難時のサポートなど。
                    br
                    |       ※JCBプラザラウンジでは上記にプラス、下記のサービスが使えます。
                    br
                    |         ・インターネット、プリントアウト無料サービス
                    br
                    |         ・Wi-Fi 無料サービス
                    br
                    |         ・日本語新聞、雑誌の閲覧
                    br
                    |         ・現地ガイドブック、情報誌の閲覧
                    br
                    |         ・ドリンクサービス
                    br
                    |         ・マッサージ機
                    br
                    |         ・お荷物の当日中一時預かりサービス
                tr
                  th B海外旅行に役立つJCBのスマートフォンアプリ
                tr
                  td ロサンゼルス、ラスベガス、サンフランシスコ、ニューヨークエリアのJCB優待店や地図、観光情報などをスマートフォンにアプリとしてダウンロードできます。
                tr
                  th C海外旅行保険が自動付帯
                tr
                  td
                    | ・JCBEITカードなら、年会費無料で海外旅行保険が自動付帯でついてきます。
                    br
                    | 利用付帯のように事前にカードを使うこともないので、手間がかからず安心です。
            .midasi.midashi--chu--a
              h2 便利に得ができるアメリカ旅行なら三井住友VISAカード
            .wrap-block.mojisoushoku
              p
                strong
                  span.blue 三井住友VISAカード
                | は、
                span.yellow
                  | ラインナップがとにかく豊富なので、自分にピッタリの1枚を見つけることができ、さらにステータス性が高いカードなのに、低条件により年会費が無料から半額にまで割引させることができる
                | 、クレジットカードです。
                br
                br
                | 海外旅行保険付帯、会員特典の数々を見ただけでもわかるように、アメリカ旅行にはかかせないクレジットカードとなっているので、
                strong 旅行前に必ず手に入れておきましょう
                | 。
                br
                br
                strong
                  span.blue 三井住友VISAカード
                | は、
                span.yellow 急な旅行や出張に合わせられる、即日発行(スピード発行)対応
                | のクレジットカードです。

            include include/___close_mitsui_classic.pug

            <br />
            <br />
            //#include virtual="/sp/foot_social.html"
            <br />
            .wrap--block
            <br />
            .s.s3
              section
                .s3--inner
                  .wrap--block
                    .dialog--normal
                      dl
                        dt このコラムに関連するコンテンツ
                        dd
                          ul.list--normal
                            li.column: a(href='/best10.html')
                             i
                             | 当サイトおすすめ！クレジットカード厳選10枚
                            li.column: a(href='/list/cate/kaigai.html')
                             i
                             | 海外旅行保険付き クレジットカード一覧
                            li.column: a(href='/list/cate/nenkaihi.html')
                             i
                             | 年会費無料 クレジットカード一覧
                            li.column: a(href='/list/cate/speed.html')
                             i
                             | 即日スピード発行 クレジットカード一覧
                            li.column: a(href='/category/kaigai.html')
                             i
                             | 海外旅行保険付きカードの選び方
                            li.column: a(href='/category/nenkaihi.html')
                             i
                             | 年会費無料のクレジットカードの選び方
                            li.column: a(href='/column/article/article026.html')
                             i
                             | カードで海外両替するとお得な理由
                            li.column: a(href='/column/article/article034.html')
                             i
                             | 旅行ツアーを最大5％割引にするカード
                            li.column: a(href='/column/article/article037.html')
                             i
                             | ハワイ旅行サービスを満喫できる究極の1枚
                            li.column: a(href='/column/article/article038.html')
                             i
                             | ｸﾞｱﾑ･ｻｲパン旅行を満喫できる究極の1枚

      include include/___foot1.pug
    include include/___foot2.pug
